---
layout: default
title: "Gallery"
description: "无产主义涂鸦"
header-img: "img/gallery-bg.jpg"
images:
  - image: /myworks/001.jpg
  - image: /myworks/002.jpg
  - image: /myworks/003.jpg
  - image: /myworks/004.jpg
  - image: /myworks/005.jpg
  - image: /myworks/006.jpg
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<!-- <div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% for item in page.images %}
            <div class="lightbox" id="lightbox{{ forloop.index }}">
              <div class="table">
                <div class="table-cell">
                  <img class="close" src="{{item.image}}" />
                  <img class="next" src="/img/next.svg" />
                  <img class="prev" src="/img/prev.svg" />
                  <div class="item" style="background: url('{{ item.image }}') center center no-repeat; background-size: cover;">
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <script type="text/javascript">
        $('.next').click(function(){
          $(this).closest('.lightbox').hide().next().show();
        });
    </script>
</div>
 -->

 <!-- Chinese Version -->
<div class="gallery post-container">
    {% capture gallery %}{% include gallery/gallery.md %}{% endcapture %}
    {{ gallery | markdownify }}
</div>
